# Supabase
DATABASE_URL=''
DIRECT_URL=''

# Better-Auth
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL='' # Base URL of your app

NEXT_PUBLIC_AI_ENGINE_URL='http://localhost:8000'

# Google OAuth
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
